.menu {
  font-size: 20px;

  > nav {
    > ul {
      display: block;
      text-align: center;
      > li {
        margin-top: 15px;
        > a {
          @apply relative text-[#0097B2];
          &::after {
            content: "";
            @apply absolute bg-[#0097B2] left-0 -bottom-3 h-0.5 w-0 transition-all duration-300;
          }
          &:hover::after {
            @apply w-full;
          }
        }
      }
    }
  }
}
