.wrap {
  width: 100%;
  display: flex;
  position: relative;
  height: 700px;
}
.foto {
  top: 50%;
  left: 40%;
  transform: translate(-40%, -50%);
  max-width: 700px;
  height: 500px;
  z-index: 3;
}
.fotoShadow {
  top: 70%;
  left: 30%;
  transform: translate(-30%, -70%);
  max-width: 700px;
  height: 466px;
  background: rgba(255, 227, 114, 0.71);
}
.block {
  background-color: rgba(131, 176, 195, 0.67);
}

@media only screen and (max-width: 1700px) {
  .foto {
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
  }
  .fotoShadow {
    top: 70%;
    left: 20%;
    transform: translate(-20%, -70%);
  }
}

@media only screen and (max-width: 1410px) {
  .foto {
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
  }
  .fotoShadow {
    top: 70%;
    left: 0%;
    transform: translate(-0%, -70%);
  }
}
@media only screen and (max-width: 1160px) {
  .foto {
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
    max-width: 560px;
  }
  .fotoShadow {
    top: 50%;
    left: 0%;
    transform: translate(-0%, -50%);
    max-width: 560px;
    height: 373px;
    background: rgba(255, 227, 114, 0.71);
  }
  .wrap {
    height: 600px;
  }
}
